@{
    ViewData["Title"] = "Application Submitted";
}

@model Mission06_Kizy.Models.ApplicationResponse

<br />
<center><h3>Movie <span><b>@Model.Title</b></span> received.</h3></center>
<center><h4>Thank you for adding a new movie to my movie collection!</h4></center>


