@{
    ViewData["Title"] = "Home Page";
}

@*Add a home page containing the title “The Joel Hilton Film Collection”*@
<div style="text-align:center;">
    <h1>
        The Joel Hilton Film Collection
    </h1><br />
    @*Add an image of Joel Hilton*@
    <img src="~/img/1.jpg" />
</div>


